.banner {
    height: 448px;
    position: relative;
    color: white;
    object-fit: contain;

}

.div_banner {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.div_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.03rem;
}

.div_description {
    width: 45rem;
    line-height: 1.3rem;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;

}

.div_primary {
    width: 150px;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
    height: 50px;

}

.div_primary:hover {
    color: black;
    background-color: white;
    transition: all 0.25;
}

.Banner--fadeBottom {
    height: "7.4rem";
    background-Image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111)
}